body {
    font-family: Arial;
    background-color: aliceblue;
    padding: 40 px 0;
}
h2 {
    font-size: 28px;
}
h1 {
    font-size: 36px;
}
span {
    color: grey;
}
img {
    width: 120px;
    height: 150px;
}
section,
header {
    padding: 10px 60px 20px 60px;
    background-color: white;
    width: 960px;
    margin: 0 auto;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}